html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    background-color: #556270;
    font-size: 2.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
}

body a {
    color: #6dbf6d;
}

body a:hover {
    color: #5bb75b;
}

.floater {
    float:left;
    height:50%;
    margin-bottom:-160px;
}

.container {
    height: 320px;
    clear: both;
    position: relative;
}

em {
    font-family: 'Dancing Script', cursive;
    font-style: inherit;
    color: #91dce7;
}

h1 {
    font-weight: normal;
    font-family: 'Benchnine', sans-serif;
    color: #ffbf00;
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

h1 a {
    color: #ffbf00;
}

h1 a:hover {
    color: #e6ac00;
}

ul {
    list-style-type: none;
}

li {
    line-height: 1.4em;
}